header img {
    margin-top: 45px;
    border-color: #2c3e50;
    border-width:2px;
}

.btn-social i {
    font-size: 28px;
}

.intro-text {
    margin-top: 100px;
}

section.content {
    margin-top: 40px;
}

p.padt {
    margin-top: 10px;
    padding-left: 15px;
}

section.cv {
    margin-top: 20px;
}
